@font-face {
    font-family: 'kanit';
    src: url('./Kanit/Kanit-Regular.ttf');
}      
body {
    font-family: 'kanit';
    background-image: url("https://a-static.besthdwallpaper.com/snowy-mountains-and-sunrise-lake-reflection-wallpaper-3840x2400-109444_9.jpg");
    height: 850px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;    
    padding: 20px;
    max-width: 640px;    
    border-radius: 15px;    
    background-color: #eef2ffbc;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}
.header{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}
.header-form {
    width: 140px;
}
.flex {
    display: flex;
}
.form_input {
    margin-bottom: 10px;
}
input.form, textarea {
    border: 1px solid rgba(165, 165, 165, 0.447);
    width: 100%;
    height: 30px;
    margin: 5px 0;
    border-radius: 10px;
}
.center{
    text-align: center;
}
.editbutton {
    border: 0;
    width: 50%;
    color: #ffffff;
    text-decoration: none;
    background-color: #8c8e9200;
    height: 40px;
    border-radius: 10px;
}

.submitbutton {
    border: 0;
    width: 50%;
    color: #ffffff;
    text-decoration: none;
    background-color: #8c8e92bd;
    height: 40px;
    border-radius: 10px;
}

.message {
    margin-top: 20px;
    padding: 10px;
    background-color: lightgray;
    display: none;
    margin: 5px 0;
    border-radius: 10px;
}

.message.success {
    background-color: lightgreen;
    display: block;
}

.message.danger {
    background-color: lightcoral;
    display: block;

}

@media screen and (max-width: 768px) {
    .flex {
        flex-direction: column;
    }
    .header{
        font-size: 24px;
    }
    .button {
        width: 100%;
    }
}